body {
  margin: 0;
  height: 100vh;
  font-weight: 100;
  background: radial-gradient(#151515, #000000);
  overflow-y: hidden;
  animation: fadeIn 1 1s ease-out;
}

.light {
  position: absolute;
  width: 0px;
  opacity: 0.75;
  background-color: blue;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}
.x1 {
  animation: floatUp 4s infinite linear;
  transform: scale(1);
  box-shadow: #b558ad 0px 0px 20px 2px;
}
.x2 {
  animation: floatUp 7s infinite linear;
  transform: scale(1.6);
  left: 15%;
  box-shadow: #f35044 0px 0px 20px 2px;
}
.x3 {
  animation: floatUp 2.5s infinite linear;
  transform: scale(0.5);
  left: -15%;
  box-shadow: #ffee01 0px 0px 20px 2px;
}
.x4 {
  animation: floatUp 4.5s infinite linear;
  transform: scale(1.2);
  left: -34%;
  box-shadow: #f67844 0px 0px 20px 2px;
}
.x5 {
  animation: floatUp 8s infinite linear;
  transform: scale(2.2);
  left: -57%;
  box-shadow: #c0a0d1 0px 0px 20px 2px;
}
.x6 {
  animation: floatUp 3s infinite linear;
  transform: scale(0.8);
  left: -81%;
  box-shadow: #01b59c 0px 0px 20px 2px;
}
.x7 {
  animation: floatUp 7s infinite linear;
  transform: scale(1.6);
  left: 15%;
  box-shadow: #019cd7 0px 0px 20px 2px;
}
.x8 {
  animation: floatUp 4.7s infinite linear;
  transform: scale(1.7);
  left: 62%;
  box-shadow: #f35044 0px 0px 20px 2px;
}
.x9 {
  animation: floatUp 4.1s infinite linear;
  transform: scale(0.9);
  left: 85%;
  box-shadow: #01b59c 0px 0px 20px 2px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    top: 0vh;
    opacity: 0.8;
  }
  75% {
    opacity: 1;
  }
  100% {
    top: -100vh;
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

@keyframes finalFade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
